div(class="accounts-container")
  p Your Accounts

  - var sideAccounts = user.accounts
  ul(class="accounts-list")
    each account in sideAccounts
      li(class="account turn-white"): a(href="/funds/accounts/" + account._id)= account.accountName
      //- div(class="edit hidden") edit

  button(class="new-account") + add account