//- thanks to the url variable passed on each route, you can customize the nav menus based on the url



header
  nav
    - if (url === '/') {
      ul(class="landing-list")
        li(class="logo-link"): a(href="/") logo
        li(class="signup-link"): a(href="/users/signup") signup
        li(class="login-link"): a(href="/users/login") login

    - } else if ((url === '/users/dashboard') || (url === '/users/settings')) {
      ul(class="nav-list")
        li(class="sidemenu-link"): label(for="sidebar-toggler"): button(type="button" class="navbar-toggle collapsed" aria-controls="navbar")
            span(class="icon-bar top-bar")
            span(class="icon-bar middle-bar")
            span(class="icon-bar bottom-bar")
        li(class="logo-link"): a(href="/users/dashboard") logo

        li(class="drop-menu"): a(href="#") #{user.username}
          div(class="drop-triangle")
          ul(class="sub-menu")
            li: a(href="/users/accout") account
            li: a(href="/users/logout") logout

        li: a(href="#"): i(class="fa fa-bell")
        li(class="settings-link"): a(href="/users/settings"): i(class="fa fa-cog")
    - }