div(class="input-container")
  form(class="input-divvy")
    label(for="divvy") Enter amount
    div(class="merge-input")
      p(class="dollar-sign") $
      input(class="injection-value" name="divvy" min="1" step=".01" type="number" autocomplete="off" required)
    button(class="dispenser" disabled="true" type="submit") dispense
