div(class="input-container")
  form(action="#" method="post" class="input-divvy")
    label(for="divvy") Enter amount
    div(class="merge-input")
      p(class="dollar-sign") $
      input(type="text" name="divvy" autocomplete="off")
    button(type="submit") dispense
