div(class="input-container")
  form(class="input-divvy")
    label(for="divvy") Enter amount
    div(class="merge-input")
      p(class="dollar-sign") $
      input(type="text" name="divvy" class="injection-value" autocomplete="off")
    button(type="submit" class="dispenser") dispense
