div(class="modal")
  div(class="modal-content")
    div(class="top")
      header
        p total points:
          span(class="total-points")=  user.remainingPoints
        div(class="fa fa-close modal-close")
      form(method="post" class="newAccount")
        div(class="percentage-div")
          button(class="minus") -

          input(class="enter-account-percentage" name="account_percent" maxlength="3" size="2" min="1" max="99" value="1" type="number" pattern=".{1,}" oninvalid="this.setCustomValidity('Percent must not be empty.')" required)

          span(class="percent-symbol") %

          button(class="add") +

        div(class="submit-div")
          input(class="enter-account-name" name="account_name" type="text" placeholder="Account name" required)
          input(class="submit-new-account" type="submit" value="done")
    div(class="bottom")
      - let modalAccounts = user.accounts
      ul(class="modal-account-list")
        each account in modalAccounts
          li
            p(class="bottom-account-name")= account.accountName
            div(class="modal-list-percentage")
              button(class="list-minus") -
              p(class="modal-list-number")= account.percent
                span %
              button(class="list-add") +
