div(class="modal")
  div(class="modal-content")
    div(class="top")
      header
        p total points:
          span(class="total-points")  100
        div(class="fa fa-close modal-close")
      div(class="modal-percentage")
        button(class="minus") -
        p(class="modal-percentage-number") 25
          span %
        button(class="add") +
      div(class="submit")
        input(class="account-name" placeholder="Account name")
        button(class="modal-done") done
    div(class="bottom")
      ul(class="modal-account-list")
        li
          p(class="bottom-account-name") business
          div(class="modal-list-percentage")
            button(class="list-minus") -
            p(class="modal-list-number") 25
              span %
            button(class="list-add") +

        li
          p(class="bottom-account-name") car
          div(class="modal-list-percentage")
            button(class="list-minus") -
            p(class="modal-list-number") 25
              span %
            button(class="list-add") +

        li
          p(class="bottom-account-name") food
          div(class="modal-list-percentage")
            button(class="list-minus") -
            p(class="modal-list-number") 25
              span %
            button(class="list-add") +

        li
          p(class="bottom-account-name") investment
          div(class="modal-list-percentage")
            button(class="list-minus") -
            p(class="modal-list-number") 25
              span %
            button(class="list-add") +




//- div(class="modal")
//-   div(class="modal-content")
//-     div(class="top")
//-       header
//-         p total points:
//-           span(class="total-points")  100
//-         div(class="fa fa-close modal-close")
//-       div(class="modal-percentage")
//-         button(class="minus") -
//-         p(class="modal-percentage-number") 25
//-           span %
//-         button(class="add") +
//-       div(class="submit")
//-         p(class="account-name") Account Name
//-         button(class="modal-done") done
//-     div(class="bottom")
//-       ul(class="modal-account-list")
//-         li
//-           p(class="bottom-account-name") business
//-           div(class="modal-list-percentage")
//-             button(class="list-minus") -
//-             p(class="modal-list-number") 25
//-               span %
//-             button(class="list-add") +

//-         li
//-           p(class="bottom-account-name") car
//-           div(class="modal-list-percentage")
//-             button(class="list-minus") -
//-             p(class="modal-list-number") 25
//-               span %
//-             button(class="list-add") +

//-         li
//-           p(class="bottom-account-name") food
//-           div(class="modal-list-percentage")
//-             button(class="list-minus") -
//-             p(class="modal-list-number") 25
//-               span %
//-             button(class="list-add") +

//-         li
//-           p(class="bottom-account-name") investment
//-           div(class="modal-list-percentage")
//-             button(class="list-minus") -
//-             p(class="modal-list-number") 25
//-               span %
//-             button(class="list-add") +
