//- anytime you need to pass user object to client-side js, use the JSON.stringify script tag at the bottom
extends layout

block content
  include ./includes/header
  include ./includes/input
  include ./includes/accounts-list
  include ./includes/accounts-number
  include ./includes/accounts-sum
  include ./includes/modal

block error-msg
  - if (error) {
    include ./error.pug
  - }

  script(src="/javascripts/dashboard.js")