extends layout

block content
  include ./includes/header
  include ./includes/input
  include ./includes/accounts-list
  script(src="/javascripts/dashboard.js")

block error-msg
  - if (error) {
    include ./error.pug
  - }