extends layout

block content
  div(class="registration-container")
    h1 Login
    form(action="/users/signup" method="post" class="registration-login")

      label(for="email") Email
      input(type="email" name="email")

      label(for="password") Password
      input(type="password" name="password")

      button(type="submit") login

    p(class="switch") Don't have an account?&nbsp;
      a(href="/users/signup") Signup

    a(href="#") Forgot password?

  script(src="/javascripts/users.js")