extends layout

block content
  div(class="registration-container")
    h1 Signup
    form(action="/users/signup" method="post" class="registration-signup")
      label(for="username") Name
      input(type="username" name="username")

      label(for="email") Email
      input(type="email" name="email")

      label(for="password") Password
      input(type="password" name="password")

      label(for="confirmationPassword") Re-Enter Password
      input(type="password" name="confirmationPassword")

      button(type="submit") finish

    p(class="switch") Already have an account?&nbsp;
      a(href="/users/login") Login

    a(href="#") Forgot password?

  script(src="/javascripts/users.js")