
.accounts-list
  display: flex
  flex-direction: column
  list-style-type: none

.accounts-container p
  padding: 0 0 10px 0
  padding-left: 8%

.accounts-list li
  position: relative
  padding: 5px 0
  padding-left: 8%

.accounts-list li:last-of-type
  padding: 10px 0 5px 40px

.account .edit
  position: absolute
  top: 8px
  left: 80%



.new-account
  margin: 10px 0 0 40px



@media(min-width: 750px)
  .accounts-container p
    padding: 0 0 16px 40px

  .accounts-list li
    padding: 5px 0 5px 40px
