
.error-msg
  font: normal 1rem din



.landing-list
  font: 400 1.3em din

.nav-list
  font: normal 1.2em din

.nav-list .logo-link
  font: normal 1.2em din



.accounts-list li
  font: normal 1.7em din

.accounts-list li:last-of-type
  font: italic 1.4em din

.accounts-container p
  font: normal 1.2em din

.account .edit
  font: normal 1.2rem din



.input-divvy label
  font: normal 1.2em din

.input-divvy input
  font: normal 1.5em lato

.input-divvy button
  font: normal 1em din



.registration-container h1
  font: 500 3em din

.registration-container p
  font: normal 1.1rem din

.registration-container a
  font: normal 1.1rem din

.registration-container p a
  font: normal 1.1rem din

.registration-signup label
  font: normal 1.2em din

.registration-signup input:not([type="submit"])
  font: normal 1.1em din

.registration-signup button[type="submit"]
  font: normal 1em din



.modal-percentage-number
  font: normal 5em din

.modal-content header
  font: normal 1.4em din

.modal-content header .total-points
  font: bold 1.4rem din

.account-name + .modal-done
  font: normal 1rem din


.sidebar
  font: normal 1.2em din

.sidebar h2
  font: 300 1em din

.infusions .money
  font: 400 1.3em din



.landing-title
  font: 600 3em din

.landing-container .login-status
  font: normal 1.1em din

.landing-container section h2
  font: 500 2em din

.landing-container section p
  font: normal 1.2em din

.landing-container .footer-list header
  font: bold 1.4em din

.landing-container .footer-list li
  font: normal 1.2em din

.landing-container .copyright
  font: normal 1.2em din


@media(min-width: 750px)
  .input-divvy button
    font: normal 1.2em din
