@import './universal-mixins'

// input checkbox in sidebar.pug
#sidebar-toggler
  display: none

.slide-out + .sidebar
  left: 0
  @include transition(all .6s ease-in-out)

.slide-out + .sidebar + .wrapper
  left: 260px
  @include transition(all .6s ease-in-out)

// list item label in header.pug, first child of .nav-list class
.sidebar
  position: fixed
  left: -260px
  height: 100vh
  width: 200px
  padding: 30px
  background-image: radial-gradient(70% 60%, #282627, #141314)
  @include transition(all .6s ease-in-out)
  z-index: 1
  li
    margin: 0 0 10px 0
    list-style: none
    color: white

.wrapper
  @include transition(all .6s ease-in-out)




.sidebar h2
  margin: 88px 0 0 0
  color: white

.infusions li
  margin: 30px 0
  &:first-of-type
    margin: 30px 0 10px 0

.infusions li p
  margin: 4px 0

.date,
.time
  padding: 0 0 0 31px

.money
  color: darken(springgreen, 8%)
